[Desktop Entry]
Type=Application
Name=MetaTrader 5 Setup
Exec=/usr/local/bin/mt5-install
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
Terminal=false
